/target/classes/uk/axone/devintest/git/Application.class
/target/surefire-reports/axone.git.TestingGit_Repo.txt
/target/surefire-reports/bullet_point.png
/target/surefire-reports/old/axone.git.TestingGit_Repo/classes.html
/target/surefire-reports/collapseall.gif
/target/surefire-reports/axone.git.TestingGit_Repo/Command line test.html
/target/surefire-reports/old/axone.git.TestingGit_Repo/Command line test.properties
/target/surefire-reports/axone.git.TestingGit_Repo/Command line test.xml
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/target/dit_git_demo_july2022-1.0-SNAPSHOT.jar
/target/surefire-reports/emailable-report.html
/target/surefire-reports/failed.png
/target/surefire-reports/old/axone.git.TestingGit_Repo/groups.html
/target/surefire-reports/old/axone.git.TestingGit_Repo/index.html
/target/surefire-reports/old/index.html
/target/surefire-reports/index.html
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/surefire-reports/jquery-3.4.1.min.js
/target/surefire-reports/old/axone.git.TestingGit_Repo/main.html
/target/surefire-reports/old/axone.git.TestingGit_Repo/methods.html
/target/surefire-reports/old/axone.git.TestingGit_Repo/methods-alphabetical.html
/target/surefire-reports/old/axone.git.TestingGit_Repo/methods-not-run.html
/target/surefire-reports/navigator-bullet.png
/target/surefire-reports/passed.png
/target/maven-archiver/pom.properties
/target/surefire-reports/old/axone.git.TestingGit_Repo/reporter-output.html
/target/surefire-reports/skipped.png
/target/surefire-reports/junitreports/TEST-axone.git.TestingGit_Repo.xml
/target/surefire-reports/TEST-axone.git.TestingGit_Repo.xml
/target/test-classes/axone/git/TestingGit_Repo.class
/target/surefire-reports/testng.css
/target/surefire-reports/old/axone.git.TestingGit_Repo/testng.xml.html
/target/surefire-reports/testng-reports.css
/target/surefire-reports/testng-reports.js
/target/surefire-reports/testng-results.xml
/target/surefire-reports/old/axone.git.TestingGit_Repo/toc.html
/target/*
